编号类别:
<nz-select style="width: 300px;" nzShowSearch nzAllowClear nzDropdownMatchSelectWidth nzPlaceHolder="选择编号" [(ngModel)]="selected" (ngModelChange)="showList(selected)">
  <nz-option nzCustomContent [nzValue]= "item.values[0]" [nzLabel] = "item.values[1] + item.values[3]" *ngFor="let item of data">
    {{item.values[1]}} {{item.values[3]}}
  </nz-option>
</nz-select>
<!--[nzScroll]="{ y: '500px'}" 表格纵向滚动条,会出现表头不对齐，可设置表头固定宽度。或者 分页-->
<nz-table
  nzShowSizeChanger
  [nzFrontPagination]="false"
  [nzData]="dataSet"
  [nzLoading]="loading"
  [nzTotal]="total"
  nzSize="middle"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  [nzScroll]="{ y: '650px'}"
  nzBordered
  (nzPageIndexChange)="searchData()"
  (nzPageSizeChange)="searchData(true)">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
  <tr>
    <th nzShowSort nzWidth="5%">#</th>
    <th nzShowFilter nzWidth="10%">编号</th>
    <th nzShowSort nzWidth="65%"><span>描述</span></th>
    <th nzShowSort nzWidth="10%"><span>最大编号</span></th>
    <th nzShowSort nzWidth="10%"><span>新编号</span></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of list;let i = index" #code (click)="getMaxCode(code);">
    <td>{{i+1}}</td>
    <td>{{item.values[2]}}</td>
    <td>{{item.values[3]}}</td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</nz-table>
