<div nz-row>
  <div nz-col nzSpan="10">
      <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
        <input type="text" nz-input placeholder="模糊查询" [(ngModel)]="subject">
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="toggle();"><i [class]="icon"></i></button>
        <button nz-button nzType="primary" nzSearch (click)="submit()"><i class="anticon anticon-search"></i></button>
        <button nz-button nzType="primary" (click)="clear();">
          <i class="anticon anticon-close"></i>
        </button>
      </ng-template>
      <br/>
    <div *ngIf="isShow">
      高级搜索:<br/>
      邮件状态:
      <nz-select style="width: 100px;" nzShowSearch nzAllowClear nzDropdownMatchSelectWidth nzPlaceHolder="邮件状态" [(ngModel)]="status" (ngModelChange)="submit($event)">
        <nz-option nzCustomContent [nzValue]= "item['value']" [nzLabel] = "item['key']" *ngFor="let item of option">
          {{item['key']}}
        </nz-option>
      </nz-select>
    日期选择:<nz-range-picker  [(ngModel)]="dateRange"  (ngModelChange)="submit($event)" [nzRanges]="ranges">
    </nz-range-picker>
    <br>
    </div>
  </div>
</div>
<div nz-row>
  <div nz-col [nzSpan]="6" style="overflow-y: scroll;height: 800px">
    <div nz-col [nzSpan]="24">
      <div nz-col [nzSpan]="6">共{{records || 0}}条</div>
      <div nz-col [nzSpan]="18" *ngIf="records"><nz-pagination [nzPageIndex]="currentPage" (nzPageIndexChange)="changePage($event)" [nzTotal]="records" nzSimple></nz-pagination></div>
    </div>
    <div *ngIf="data" nz-col [nzSpan]="18">
      <nz-card *ngFor="let item of data" (click)="showDetail(item)">
        <b>{{item.values[1]}}</b><br/>
        <p>{{item.values[2]}}</p>
      </nz-card>
    </div>
  </div>
  <div *ngIf="iFrame" nz-col [nzSpan]="18">
    <iframe height="800px" width="100%" [src]="iFrame"></iframe>
  </div>
</div>
