<nz-tabset [nzType]="'card'" [nzTabBarExtraContent]="extraTemplate" nzShowPagination="true">
  <nz-tab nzTitle="问题追踪" nz-row nzGutter="2">
    <div style="margin-bottom: 16px;" nz-col nzSpan="8">
      <nz-input-group  nzAddOnBeforeIcon="anticon anticon-search" [nzAddOnAfter]="addOnAfterTemplate" nz-col nzSpan="8">
        <input type="text" nz-input [(ngModel)]="subject" placeholder="模糊查询">
      </nz-input-group>
      <ng-template #addOnAfterTemplate>
        <label nz-radio [(ngModel)]="isReg" (click)="toggle()">正则</label>
      </ng-template>
    </div>
    <div nz-col nzSpan="1" class="gutter-row">
      <button nz-button nzType="primary" nzSearch (click)="submit()"><i class="anticon anticon-search"></i></button>
      <button nz-button nzType="primary" (click)="clear();">
        <i class="anticon anticon-close"></i>
      </button>
    </div>
    <div nz-col nzSpan="2">
      <button nz-button nzType="primary" (click)="show();">
        <i [class]="icon"></i>高级搜索
      </button>
    </div>
    <div nz-col nzSpan="9" nzOffset="2">
      <div nz-col nzSpan="3">共{{totalCount}}条</div>
      <div nz-col nzSpan="21">
      <nz-pagination [nzPageIndex]="1" [nzTotal]="totalCount" [(nzPageIndex)]="currentPage" nzShowSizeChanger  nzShowQuickJumper [nzSize]="'small'"></nz-pagination>
      </div>
    </div>
    <div *ngIf="isShow" nz-col nzSpan="24">
      项目名称:
      <nz-select style="width: 100px;" nzShowSearch nzAllowClear nzDropdownMatchSelectWidth nzPlaceHolder="项目名称" [(ngModel)]="projectName" (ngModelChange)="submit($event)">
        <nz-option nzCustomContent [nzValue]= "item['values'][0]" [nzLabel] = "item['values'][0]" *ngFor="let item of projects">
          {{item['key']}}
        </nz-option>
      </nz-select>
      问题状态:<nz-select style="width: 100px;" nzShowSearch nzAllowClear nzDropdownMatchSelectWidth nzPlaceHolder="问题状态" [(ngModel)]="projectName" (ngModelChange)="submit($event)">
      <nz-option nzCustomContent [nzValue]= "item['value']" [nzLabel] = "item['key']" *ngFor="let item of option">
        {{item['key']}}
      </nz-option>
    </nz-select>
      日期范围:<nz-range-picker  [(ngModel)]="dateRange"  (ngModelChange)="submit($event)">
    </nz-range-picker><!--[nzRanges]="ranges1" -->
      <br>
    </div>
  </nz-tab>
  <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab">
    <ng-template #titleTemplate>
      <div>
        {{ tab }}
        <i class="anticon anticon-close" (click)="closeTab(tab)"></i>
      </div>
    </ng-template>
    Content of {{ tab }}
  </nz-tab>
</nz-tabset>
<ng-template #extraTemplate>
  <i class="ant-tabs-new-tab anticon anticon-plus" (click)="newTab()"></i>
</ng-template>

<div id="myTabContent" class="tab-content" *ngFor="let item of tabs">
  <div class="tab-pane fade in active" id="home">
    <div class='row col-md-12' class='form-inline'>
      <div class="col-md-5">
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" class="form-control" placeholder="模糊查询">
        <div class="el-input-group__append">
          <label class="el-checkbox">
            <span class="el-checkbox__input">
            <span class="el-checkbox__inner"></span>
            <input type="checkbox" class="el-checkbox__original" value="" [(ngModel)]='condition'>
            </span>
            <span class="el-checkbox__label">正则
            </span>
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <span class="glyphicon glyphicon-search" (click)="filter();"></span>
        <span class=" glyphicon glyphicon-remove"></span>
        <span class="glyphicon .glyphicon-chevron-down"></span>
        <span>高级搜索</span>>
      </div>
      <div class="col-md-4">
        <span>共{{totalCount || 0}}条</span>
        <div class="dropdown">
          <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">10条/页
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#"></a>
            </li>
          </ul>
          <ul class="pagination">
            <li>
              <a (click)="prev();">&laquo;</a>
            </li>
            <!--<li *ngFor="let i of totalPage">
            <a>{{i}}</a>
            </li>-->
            <li>
              <a (click)="next();">&raquo;</a>
            </li>
          </ul>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th class="col-md-2">编号</th>
          <th class="col-md-5">标题</th>
          <th class="col-md-1">优先级</th>
          <th class="col-md-1">项目</th>
          <th class="col-md-1">版本</th>
          <th class="col-md-1">时间</th>
          <th class="col-md-1">状态</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of data">
          <td class="col-md-2" (click)="showDetails(item);">{{item.values[1]}}/{{item.values[2]}}/{{item.values[3]}}</td>
          <td class="col-md-5">{{item.values[4]}}</td>
          <td class="col-md-1">{{item.values[6]}}</td>
          <td class="col-md-1">{{item.values[8]}}</td>
          <td class="col-md-1">{{item.values[10]}}</td>
          <td class="col-md-1">{{item.values[9]}}</td>
          <td class="col-md-1">{{option.getOptions('issue_status')[item.values[11]]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="{{item}}" class="tab-pane fade">
    <div class="col-md-12"></div>
    <div class="col-md-12">
      <div class="col-md-4">
        <div *ngFor="let issue of issues">
          <div (click)="showInfo(issue);" *ngFor="let item of issue">
            <p>{{item.values[2]}}</p><br/>
            <p>{{item.values[1]}}   {{item.values[3]}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <iframe class="mail-side-right col-md-12" height="800px"></iframe>
      </div>
    </div>
  </div>
</div>
<!--<ul id="tab" class="nav nav-tabs">
  <li *ngFor="let item of tabs">
    <a data-toggle="tab" href="#{{item}}">{{item}}</a>
  </li>
</ul>
<div id="tabContent" class="tab-content" *ngFor="let item of tabs">
  <div id="{{item}}" class="tab-pane fade">
    <div class="col-md-12"></div>
    <div class="col-md-12">
      <div class="col-md-4">
        <div *ngFor="let issue of issues">
          <div (click)="showInfo(issue);">
            <p>{{issue.values[2]}}</p>
            <br/>
            <p>{{issue.values[1]}} {{issue.values[3]}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <iframe class="mail-side-right col-md-12" height="800px"></iframe>
      </div>
    </div>
  </div>
</div>-->
