<div align="center" style="font-size: 1.5em">
  CE问题追踪系统集编码管理，智能搜索，统计报表，版控辅助于一身
</div>
<div nz-col nzSpan="8">
  <img src="../../assets/img/category2.jpg" routerLink="/issue-category" class="image">
  <div align="center">
    编码管理
  </div>
</div>
<div nz-col nzSpan="8">
  <img src="../../assets/img/search1.jpg"  routerLink="/issue-trace" class="image">
  <div align="center"> 问题追踪
  </div>
</div>
<div nz-col nzSpan="8">
  <img src="../../assets/img/count2.jpg" class="image">
  <div align="center">
    统计信息
  </div>
</div>
